{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Haidian,Beijing<br />
    No.29,XueyuanRoad, China University of Geoscience<br />
    <abbr title="Phone">P:</abbr>
    <!--425.555.0100-->
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hetianle@cugb.edu.cn">hetianle@cugb.edu.cn</a><br />
    <strong>Contact me:</strong> <a href="mailto:hetianle@hotmail.com">hetianle@hotmail.com</a>
</address>

{% endblock %}
