{%extends "layout.html"%}
<table width="455" height="489" border="1">
  <caption>
    <strong>综合楼第周星期空教室统计表</strong>
  </caption>
  <tbody>
    <tr>
      <th width="111" scope="row">第1~2节</th>
      <td width="328">{}</td>
    </tr>
    <tr>
      <th scope="row">第3~4节</th>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">第5~6节</th>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">第7~8节</th>
      <td>{}</td>
    </tr>
    <tr>
      <th scope="row">第9~11节</th>
      <td>{}</td>
    </tr>

  </tbody>
</table>


{% endblock %}